## Exploring SF Public Salaries

I thought it would be interesting to explore what 'normal' people make in San Francisco and came across the 
[San Francisco Public Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries). I also used reports from [Priceonomics](http://priceonomics.com/the-san-francisco-rent-explosion-part-iii/) to investigate average housing price. Here's what I found.

In [1]:
import pandas as pd

In [2]:
salaries = pd.read_csv('Salaries.csv')

/home/katharine/.virtualenv/book/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
salaries[:4]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN

In [4]:
salaries.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000      0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [5]:
latest_salaries = salaries[salaries['Year'] == 2014]

In [6]:
latest_salaries.describe()

                  Id       TotalPay  TotalPayBenefits   Year  Notes
count   38123.000000   38123.000000      38123.000000  38123      0
mean   129593.000000   75463.918140     100250.918884   2014    NaN
std     11005.306493   51697.713029      66238.852887      0    NaN
min    110532.000000    -618.130000       -618.130000   2014    NaN
25%    120062.500000   33436.210000      44199.990000   2014    NaN
50%    129593.000000   72359.980000     101105.370000   2014    NaN
75%    139123.500000  107974.445000     142746.950000   2014    NaN
max    148654.000000  471952.640000     510732.680000   2014    NaN

In [7]:
average_yearly_rent = 3880 * 12

In [8]:
average_city_pay = latest_salaries['TotalPay'].mean()

In [9]:
average_yearly_rent / average_city_pay

0.61698360153365217

In [10]:
latest_salaries[latest_salaries['TotalPay'] < average_yearly_rent].shape[0]

11360

In [11]:
pd.to_numeric(latest_salaries['BasePay'], errors='coerce').describe()

count     38119.000000
mean      66564.421924
std       44053.783972
min           0.000000
25%       30138.055000
50%       65055.000000
75%       94735.050000
max      318835.490000
Name: BasePay, dtype: float64

In [12]:
base_pay_series = pd.to_numeric(latest_salaries['BasePay'], errors='coerce')

In [13]:
base_pay_series[base_pay_series * .7 < average_yearly_rent].shape

(20074,)

In [14]:
overtime_series = pd.to_numeric(latest_salaries['OvertimePay'], errors='coerce')

In [15]:
overtime_series.describe()

count     38119.000000
mean       5401.993737
std       11769.656257
min           0.000000
25%           0.000000
50%           0.000000
75%        5113.430000
max      173547.730000
Name: OvertimePay, dtype: float64

In [16]:
overtime_series[overtime_series > 1000].shape

(15361,)