In [26]:
import sys
import logging
import re
import psycopg2
import requests
import pandas as pd
from fredapi import Fred
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

from docopt import docopt

from pprint import pprint as pp


__version__ = '0.0.1'


def get_db_engine(db_name, user, password, host, port=5432):

    db_connection = "postgresql://{user}:{password}@{host}:{port}/{database}".format(
        database=db_name,
        user=user,
        password=password,
        host=host,
        port=port
    )

    engine = create_engine(db_connection)
    if not database_exists(engine.url):
        try:
            create_database(engine.url)

        except Exception as exc:
            logger.exception('Could not create database. \nException: %r', exc)
            return exc
    return engine


def main():

    user = 'donal'
    password = 'donal'
    host = 'localhost'
    api_key = '01af77900eb060649a7c504ee0705b4d'
    db_name = 'fred_db'
    port = 5432

    engine = get_db_engine(db_name, user, password, host, port)

    fred = Fred(api_key=api_key)
    gdp = fred.get_series('GDPC1').rename('gdp')  # ('GDP')
    um_cust_sent_index = fred.get_series('UMCSENT').rename('umcsent')  # ('UM customer sentiment index')
    us_civ_unemploy_rate = fred.get_series('UNRATE').rename('unrate')  # ('US  Civilian Unemployment Rate')
    
    frames = [gdp, um_cust_sent_index, us_civ_unemploy_rate]
    fred_data = pd.concat(frames, axis=1)
    
    for row in fred_data.iterrows():
        print(row)
    return fred_data

if __name__ == "__main__":
    data = main()
    print(data)

                gdp  umcsent  unrate
1947-01-01   1934.5      NaN     NaN
1947-04-01   1932.3      NaN     NaN
1947-07-01   1930.3      NaN     NaN
1947-10-01   1960.7      NaN     NaN
1948-01-01   1989.5      NaN     3.4
1948-02-01      NaN      NaN     3.8
1948-03-01      NaN      NaN     4.0
1948-04-01   2021.9      NaN     3.9
1948-05-01      NaN      NaN     3.5
1948-06-01      NaN      NaN     3.6
1948-07-01   2033.2      NaN     3.6
1948-08-01      NaN      NaN     3.9
1948-09-01      NaN      NaN     3.8
1948-10-01   2035.3      NaN     3.7
1948-11-01      NaN      NaN     3.8
1948-12-01      NaN      NaN     4.0
1949-01-01   2007.5      NaN     4.3
1949-02-01      NaN      NaN     4.7
1949-03-01      NaN      NaN     5.0
1949-04-01   2000.8      NaN     5.3
1949-05-01      NaN      NaN     6.1
1949-06-01      NaN      NaN     6.2
1949-07-01   2022.8      NaN     6.7
1949-08-01      NaN      NaN     6.8
1949-09-01      NaN      NaN     6.6
1949-10-01   2004.7      NaN     7.9
1949-11-01      NaN      NaN     6.4
1949-12-01      NaN      NaN     6.6
1950-01-01   2084.6      NaN     6.5
1950-02-01      NaN      NaN     6.4
...             ...      ...     ...
2015-03-01      NaN     93.0     5.4
2015-04-01  16460.9     95.9     5.4
2015-05-01      NaN     90.7     5.5
2015-06-01      NaN     96.1     5.3
2015-07-01  16527.6     93.1     5.2
2015-08-01      NaN     91.9     5.1
2015-09-01      NaN     87.2     5.0
2015-10-01  16547.6     90.0     5.0
2015-11-01      NaN     91.3     5.0
2015-12-01      NaN     92.6     5.0
2016-01-01  16571.6     92.0     4.9
2016-02-01      NaN     91.7     4.9
2016-03-01      NaN     91.0     5.0
2016-04-01  16663.5     89.0     5.0
2016-05-01      NaN     94.7     4.7
2016-06-01      NaN     93.5     4.9
2016-07-01  16778.1     90.0     4.9
2016-08-01      NaN     89.8     4.9
2016-09-01      NaN     91.2     4.9
2016-10-01  16851.4     87.2     4.8
2016-11-01      NaN     93.8     4.6
2016-12-01      NaN     98.2     4.7
2017-01-01  16903.2     98.5     4.8
2017-02-01      NaN     96.3     4.7
2017-03-01      NaN     96.9     4.5
2017-04-01  17030.0     97.0     4.4
2017-05-01      NaN     97.1     4.3
2017-06-01      NaN     95.1     4.4
2017-07-01      NaN     93.4     4.3
2017-08-01      NaN     96.8     4.4

[840 rows x 3 columns]

In [35]:
for index, row in data.iterrows():
        print(index, row[0], row[1], row[2])
        break

1947-01-01 00:00:00 1934.5 nan nan

In [25]:
import sys
import logging
import re
import psycopg2
import requests
import pandas as pd
from fredapi import Fred
from sqlalchemy import create_engine, text
from sqlalchemy_utils import database_exists, create_database

from docopt import docopt

from pprint import pprint as pp


__version__ = '0.0.1'


def get_db_engine(db_name, user, password, host, port=5432):

    db_connection = "postgresql://{user}:{password}@{host}:{port}/{database}".format(
        database=db_name,
        user=user,
        password=password,
        host=host,
        port=port
    )

    engine = create_engine(db_connection)
    if not database_exists(engine.url):
        try:
            create_database(engine.url)

        except Exception as exc:
            logger.exception('Could not create database. \nException: %r', exc)
            return exc
    return engine


def main():

    user = 'donal'
    password = 'donal'
    host = 'localhost'
    db_name = 'fred_db'
    table_name = 'new_table2'
    port = 5432
    load_preference = 'append'  # 'replace'
    
    engine = get_db_engine(db_name, user, password, host, port)
    
    print('check 1')
    '''
    create_command = text(
        'CREATE TABLE table_name (date date, gdp decimal, umcsent decimal, unrate decimal)'
    )
    engine.execute(create_command, table_name=table_name)
    '''
    
    
    fred_data = pd.DataFrame({'S1':{'Q1':0.90,'Q2':90,'Q3':0.90,'Q4':0.90},
                              'S2':{'Q1':0.90,'Q2':90,'Q3':0.10,'Q4':0.10},
                              'S3':{'Q1':0.10,'Q2':10,'Q3':0.10,'Q4':0.10},
                              'S4':{'Q1':0.10,'Q2':10,'Q3':0.10,'Q4':0.10}})
    
    insert_command = text(I'NSERT INTO :table_name VALUES(date,)')
    for row in fred_data.iterrows():
        
    
    # Insert the data into an SQL table
    # fixme: add option to replace or append here depending on initial or incremental load type - update replace
    #fred_data.to_sql(name=table_name, con=engine, if_exists=load_preference, index=True, index_label='timestamp')

if __name__ == "__main__":
    main()

check 1
check 2

ProgrammingError: (psycopg2.ProgrammingError) relation "table_name" already exists
 [SQL: 'CREATE TABLE table_name (date date, gdp decimal, umcsent decimal, unrate decimal)']