In [1]:
import pandas as pd
import numpy as np

# automatic plotting:
%pylab inline

/home/markus/miniconda3/envs/conda_dw34/lib/python3.4/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/home/markus/miniconda3/envs/conda_dw34/lib/python3.4/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

Populating the interactive namespace from numpy and matplotlib

### create df

In [3]:
# create series
s = pd.Series([1,2,3,3,np.nan])
# create dataframe
df = pd.DataFrame(np.random.randn(7,4), index=list('abcdefg'), columns=list('ABCD'))
df

          A         B         C         D
a  0.261737  0.968659  0.782290 -1.517642
b  0.893630  2.147651  0.482451  0.106838
c  0.349969  0.572443 -0.016139 -0.107332
d -1.752981  0.336471  0.541669 -0.415273
e  1.232035  0.135765 -0.642930  0.269540
f -1.891236  1.351075 -0.982118 -0.340594
g  0.513776 -1.358943 -0.720799 -0.137050

In [ ]:
# import
filenae = '.tsv'
pd.read_csv(filename, delimiter='\t', thousands=',', na_values=['n/a'], encoding='utf-8')

### inspect df

In [23]:
# first 3 rows
df.head(3)
# last 5 rows
df.tail()

          a         b         c         d
2 -0.899382 -0.156547  0.823292 -2.143836
3  0.322570 -0.652390  0.666786 -0.777805
4  0.572799 -0.009651  0.390920  0.521842
5 -2.136645  1.319318 -0.396484 -0.897874
6 -0.793476 -1.993161  0.272084  0.280391

In [71]:
# column types (list)
df.dtypes
# show index (range)
df.index
# show column names (list)
df.columns
# show values (array)
df.values
# transpose
df.T

          0         1         2         3         4         5         6
a -0.284743 -0.684352 -0.284725 -1.055659  0.624625 -2.777074  1.164444
b -1.097343  0.330349 -0.993939  0.260806 -0.362868  1.364612 -0.466725
c  0.338419  1.021629  0.072293  0.597344  1.764571  0.000689  0.111232
d -0.640823  0.525905 -0.243304  1.197607 -0.269935  0.026195 -1.508815

In [ ]:
# df statistics
df.describe()

### add & remove

In [190]:
# add column
df['E'] = range(0,7)

# remove column
del df['D']
# remove DataFrame
#del df

          A         B         C         D  E
a  0.065525  2.056077  1.006973  0.339059  0
b  2.490512 -0.482282  0.116767  1.707000  1
c -0.466055  1.450305 -0.996837  0.894528  2
d -0.038235 -0.387168  0.119479 -0.151872  3
e -1.095200 -0.031929  0.854075 -1.075435  4
f  0.503600 -0.225262  2.125694 -0.991733  5
g  0.834349 -0.018056  0.229874 -0.291237  6

### select values

In [152]:
# select:
# column as Series
df['A']
df.A
# column as DataFrame
df[['A']]
# multiple columns
df[['A','B']]
df.loc[:,'A':'B']
df.iloc[:,0:2]

# row
df[0:1] # DataFrame
# row from index
df.loc['a'] # Series
df.loc['a':'a'] # DataFrame
# row from index position
df.iloc[0] # Series
df.iloc[0:1] # DataFrame


# subset
df[['A','B']]['a':'c']
df[['A','B']][0:3]
df.loc['a':'c','A':'B']
df.iloc[0:3,0:2]

# scalar
df.at['a','A']
df.iat[0,0]

          A         B         C         D
a -0.242418 -1.497703 -0.951635  0.244444
b -0.377935  0.000000  0.968039  1.000006
c  0.035788 -1.184103 -0.176230  0.008069
d -0.353705  0.582347  0.298327 -0.275963
e  1.548717 -0.593479  0.451289  1.766213
f -0.896371 -0.916966 -0.455104  0.257606
g  1.032482 -1.077519  0.070184  0.923086

In [198]:
# locating data
df[df>0]
# locate from values in list
df[df['E'].isin([1,5,6])]

          A         B         C         D  E
b  2.490512 -0.482282  0.116767  1.707000  1
f  0.503600 -0.225262  2.125694 -0.991733  5
g  0.834349 -0.018056  0.229874 -0.291237  6

In [155]:
# = is only pointer!
df2 = df
df2.iat[0,0] = 0
df
# use copy
df2 = df.copy()

          A         B         C         D
a  0.000000 -1.497703 -0.951635  0.244444
b -0.377935  0.000000  0.968039  1.000006
c  0.035788 -1.184103 -0.176230  0.008069
d -0.353705  0.582347  0.298327 -0.275963
e  1.548717 -0.593479  0.451289  1.766213
f -0.896371 -0.916966 -0.455104  0.257606
g  1.032482 -1.077519  0.070184  0.923086

In [51]:
# sort by axis
df.sort_index(axis=0, ascending=False)
# sort by values
df.sort_values(by='a')

          a         b         c         d
5 -2.777074  1.364612  0.000689  0.026195
3 -1.055659  0.260806  0.597344  1.197607
1 -0.684352  0.330349  1.021629  0.525905
0 -0.284743 -1.097343  0.338419 -0.640823
2 -0.284725 -0.993939  0.072293 -0.243304
4  0.624625 -0.362868  1.764571 -0.269935
6  1.164444 -0.466725  0.111232 -1.508815

### missing values

In [216]:
df2 = df[df>=0]

# True where NaN
df2.isnull()
# fill NaN with value
df2.fillna(0)
# drop rows/columns with NaN
df2.dropna(axis=0, how='any')

       A      B      C      D      E
a  False  False  False  False  False
b  False   True  False  False  False
c   True  False   True  False  False
d   True   True  False   True  False
e   True   True  False   True  False
f  False   True  False   True  False
g  False   True  False   True  False

In [203]:
df

          A         B         C         D  E
a  0.065525  2.056077  1.006973  0.339059  0
b  2.490512 -0.482282  0.116767  1.707000  1
c -0.466055  1.450305 -0.996837  0.894528  2
d -0.038235 -0.387168  0.119479 -0.151872  3
e -1.095200 -0.031929  0.854075 -1.075435  4
f  0.503600 -0.225262  2.125694 -0.991733  5
g  0.834349 -0.018056  0.229874 -0.291237  6

### misc

In [ ]:
# series unique values (create histogram)
s.value_counts()